.CONDUCTORA{
    font-size: 20px;
    color: #d080ff;
    text-align: center;
}

.BIENVENIDA{
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.mb-0{
    font-size: 20px;
    color: #d080ff;
    text-align: center;

}
